language = "java"
run = "npm run start:replit"
entrypoint = "index.js"

[nix]
channel = "stable-23.11"

[deployment]
run = ["sh", "-c", "npm run deploy:replit"]
deploymentTarget = "cloudrun"

[env]
JAVA_HOME = "/nix/var/nix/profiles/default"
PATH = "/nix/var/nix/profiles/default/bin:$PATH"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[languages]
[languages.java]
pattern = "**/*.java"
syntax = "java"

[languages.gradle]
pattern = "**/*.gradle"
syntax = "gradle"

[languages.vue]
pattern = "**/*.vue"
syntax = "vue"

[languages.typescript]
pattern = "**/*.ts"
syntax = "typescript"
